---
 const personalImageAlt = "Matias Ramirez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo Matías Ramírez, pero mis amigos me llaman Mati. Mi interés por la programación comenzó en el colegio, donde aprendí los fundamentos de la programación en <strong>Python</strong>. Actualmente, estoy profundizando mis conocimientos en <strong>Astro, React y Spring</strong>.
  </p>
  
  <p>
    Algunos de mis logros incluyen <strong>clasificar tres veces a la instancia Latinoamericana del ICPC</strong>. Aunque ya no puedo participar, sigo disfrutando la resolución de problemas en plataformas como Codeforces.
  </p>
  
  <p>
    Como Ingeniero de Sistemas, mi enfoque está en el <strong>aprendizaje continuo y en dominar tecnologías</strong>  que me resultan fascinantes. Busco oportunidades para aplicar mis habilidades en proyectos desafiantes y de alto impacto.
  </p>
  
  </div>

  <img width="200" height="200" src="https://media.licdn.com/dms/image/v2/D4E03AQEgHDWIjL5-wg/profile-displayphoto-shrink_800_800/B4EZRdvnVcG0Ac-/0/1736739551367?e=1743638400&v=beta&t=BGFPQxIcjpr86h-wycCEfzprARFoGq_yh-aAvlaLUc8" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
