---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Mar 2024  -  May 2024",
    title: "Pasante de Desarrollo de Software",
    company: "Alcaldía Municipal de Tarija (unidad de Sistemas y Modernización) ",
    description:
      "Forme parte de los estudiantes que fueron seleccionados para poder desarrollar mi Practica Pre-Profesional encargado de la creación del sistema SICOBIM2 (sistema de control de bienes muebles del departamento)",
    
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
